.navbar-brand {
	background-color: blue;
	font-size: 175%;
}

.navbar-default .navbar-brand {
	color: white;
}

li.active {
	font-size: 125%;
}

.active #tab-1356-1 {
	color: orange;
}

p.help {
	background-color: #ffbf80;
}

#compareDem, #compareCol, #compareA, #compareM, #compareE {
	background-color: #d9d9d9;
}

#defA, #defS, #defM, #defE {
	background-color: #d9d9d9;
}



