.navbar-brand {
	background-color: #001A72;
	font-size: 175%;
}

.navbar-default .navbar-brand {
	color: white;
}

p.help {
	background-color: #ffbf80;
	border-radius:10px;
	text-align: center;
}

#compareDem, #compareCol, #compareA, #compareM, #compareE {
	background-color: #d9d9d9;
}

#defA, #defS, #defM, #defE {
	
	padding: 1% 1% 1% 1%;
	color: black;
	font-size: 115%;
}

#welcome-top {
	height: 200px;
	font-weight: bold;
}

#welcome-mid {
	height: 315px;
}

#welcome-header {
	text-align: center;
	color: white;
}

.welcome-text {
	text-align: center;
        height: 100%;
	color: black;
	font-size: 200%;
	font-weight: bold;
}

#specific {
	font-size: 150%;
}

#histS, #histA, #histM, #histE {
	background-color: white;
	border-color: black;
}

#info {
	color: white;
	text-align: right;
	padding-right: 5px;
	padding-top: 20px;
}

#navbar li a[data-value='Welcome!'],
#navbar li a[data-value='Application Data (Access)'],
#navbar li a[data-value='Matriculation Data (SSSP)'],
#navbar li a[data-value='Enrollment Data'],
#navbar li a[data-value='Course Success Data'] {
	font-weight: bold;
	color: #001A72;
}

