.navbar-brand {
	background-color: blue;
	font-size: 175%;
}

.navbar-default .navbar-brand {
	color: white;
}



.active #tab-1356-1 {
	color: orange;
}

p.help {
	background-color: #ffbf80;
}

#compareDem, #compareCol, #compareA, #compareM, #compareE {
	background-color: #d9d9d9;
}

#defA, #defS, #defM, #defE {
	background-color: #d9d9d9;
}

#welcome {
	background-image: url('LRC-home-banner1.jpg');
	height: 450px;
}

.welcome-text {
	text-align: center;
    height: 100%;
	color: white;
	font-size: 200%;
	font-weight: bold;
	vertical-align: middle;
}

#specific {
	font-size: 150%;
}



